@font-face {
}

body {
  font-family: sans-serif, "Noto Sans", "Montserrat Alternates" !important;
  padding-top: 7rem; /* for fixed top navbar shifting */
}

@media (min-width: 992px) {
  .intro-margin {
    margin-left: 130px !important;
  }
}

@media (max-width: 992px) {
  .text-center-sm{
    text-align: center!important;
  }
}

.phone {
  color: #51cdd4;
  font-size: 22px;
  font-style: italic;
  margin-top: 0.2rem;
  font-weight: 500;
  margin-right: 2rem;
}

.phone-link {
  text-decoration: none;
}

.phone-link:hover {
  color: #555353;
}

.menu-bar {
  font-size: 18px;
  color: #6b6868;
  margin-top: 23px;
  margin-right: 226px;
  font-weight: 300;
}

.nav-item {
  margin-right: 1.2rem;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6b6868;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #51cdd4;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #51cdd4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-logo {
  margin-right: 10rem;
}

.language-box {
  width: 73px;
  height: 31px;
  border-style: none;
  background: #ffffff;
  box-shadow: 0px 4px 4px #c4c4c4;
  border-radius: 10px;

  margin-top: 0.1rem;
}

.language {
  color: #6b6868;
}

.dot {
  margin-right: 8px;
  margin-left: 0.7rem;
}

.navbar-toggler.menu-btn {
  border-style: none;
  border-color: white;
}

.first-page {
  margin-top: 11rem;
}

.w-92 {
  width: 92%;
}

.my-position {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: black;
}

.name {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: black;
  line-height: 2rem;
}

/*
.hr-main {
  margin-top: -1.2rem;
}
*/

.city {
  font-family: Montserrat Alternates;
  font-size: 24px;
  color: #51cdd5;
  margin-top: 66px;
}

.address-1,
.address-2 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  color: #6b6868;
}


.shop-link a{
  font-family: Montserrat;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  color: #6b6868;
  text-decoration: none;
  text-decoration: underline;
}

.shop-link a:hover {
  color: #51cdd4;
}



.location-pic {
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
}

.cabinet-header {
  color: #51cdd4;
}

.cabinet-choice {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-family: Montserrat;
  font-weight: 300;
  
}

.cabinet-names {
  text-align: start;
}

.cabinet-choice:hover {
  color: #7a7878;
  background-color: #bcf4f7;
}

.btn-book {
  text-align: center;
  margin-top: 54px;
  width: 279px;
  height: 55px;
  background: #51cdd5;
  box-shadow: 0px 4px 4px #e7e9e8;
  border-radius: 8px;
  border-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  transition: all 2s ease;
}




.btn-book:hover {
  background-color: #494848;
}

.btn-book:hover:before {
  width: 100%;
}

.main-info {
  white-space: nowrap;
}

.second-page {
  margin-top: 130px;
}

.second-header {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: #51cdd5;
}

.second-header-2 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: black;
  margin-top: 50px;
  margin-left: -30px;
}

.slash {
  width: 15px;
  height: 54px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: black;
}
.slash-2 {
  color: #51cdd4;
  margin-right: 1rem;
}

.second-page-pic {
  margin-top: 80px;
}

.price-header-1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #51cdd5;
}

.price-item-header {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6b6868;
  padding-right: 0.5rem;
  margin-left: -1rem;
}

.price-item {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6b6868;
}

.price-col {
  width: 4rem;
}

.basic-description,
.item-description {
  font-size: 18px;
  color: #51cdd4;
}

.detailed-description {
  font-size: 16px;
  font-family: Noto Sans;
  font-weight: 500;
  color: black;
}

.list-group-numbered > li::before {
  color: #51cdd4;
}

li.list-group-item {
  border: none;
  border-style: none;
  color: #000000;
  font-family: Noto Sans;
  font-weight: 300;
  font-size: 16px;
  padding: unset;
  line-height: 1.7rem;
}


.price-body-item{
  
  color: #000000;
  font-family: Noto Sans;
  font-weight: 300;
  font-size: 16px;
  padding: unset;
  line-height: 1.7rem;
}




.welcome {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #000000;
}

.social-icons {
  padding-left: 1rem;
}

.external-link {
  font-family: Montserrat Alternates;
  color: #6b6868;
  text-decoration: none;
  font-weight: 600;
}
.external-link:hover {
  color: #51cdd4;
}

.bg-style {
  background-color: #51cdd4;
}

.sign-up-link {
  font-family: Montserrat Alternates;
  color: #ffffff;
  text-decoration: none;
}

.and {
  margin-left: 5rem;
}

.sign-up-link:hover {
  color: #494848;
  cursor: default;
}

.register-left-bar {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

.register-left-bar-text {
  margin-top: 1.5rem;
  font-weight: bold;
}

.register-left-bar-or {
  top: 5%;
  left: 35%;
  font-family: Open Sans Condensed;
  color: #ffffff;
}

.register-left-bar-or-2 {
  top: 5%;
  left: 65%;
  font-family: Open Sans Condensed;

  color: #ffffff;
}

.register-middle-bar {
  margin-top: 2.5rem;
}

.register-right-bar {
  margin-left: 2.5rem;
  margin-top: 2rem;
}

.gradient-hack-container {
  position: relative;
}

.gradient-hack {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  background: #8ed8cf;
  filter: blur(200px);
  border-radius: 291px 291px 0px 0px;
  z-index: -10000;
}

.contact-icon {
  margin-right: 3rem;
}

.tel {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
}

.second-slash {
  font-size: 6rem;
  margin-left: 1rem;
}

.first-slash {
  font-size: 6rem;
  margin-right: 1rem;
}

.price-slash {
  color: #51cdd4;
  margin-left: 2rem;
  margin-right: 2rem;
}

.accordion-button.accordion-icon:not(.collapsed) {
  border-color: white;
  background-color: white;
  color: #494848;
  border-style: none;
  box-shadow: none;
  font-weight: 600;
}

.accordion-button.accordion-icon:focus {
  border-color: white;
  background-color: white;
  color: #494848;
  border-style: none;
  box-shadow: none;
}

.accordion-button.accordion-icon::after {
  background-image: url("./pics/price-list-arrow.svg");
  background-size: 35px;
  height: 35px;
  width: 35px;
}

.accordion-button.accordion-icon:not(.collapsed)::after {
  background-image: url("./pics/price-list-arrow.svg");
  background-size: 35px;
  height: 35px;
  width: 35px;
}

.price-more-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #6b6868;
}

.price-more-info-2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #6b6868;
}

.add-third-page-info {
  line-height: 30px;
  margin-bottom: 5rem !important;
}

.star-icon {
  /* margin-left: -1rem; */
  /* margin-right: 1rem; */
  height: 1rem;
  vertical-align: text-top;
}

.social {
  color: white;
}

.products-list {
  margin-top: 1rem;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  margin-bottom: 4rem;
}

.add-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6b6868;
}

.origin-country {
  display: inline;
}

.left-part {
}

.right-part {
  padding-top: 2.5rem;
}



.all-reviews-item {
  margin-bottom: 1rem;
}



.certificate {
  display: inline-block;
  margin-left: 2rem;
  margin-top: -1.7rem;
}

.img-thumbnail-custom {
  border-style: none;
  border: none;
}

.img-thumbnail-custom:hover {
  opacity: 70%;
}

.image-plus-container {
  position: relative;
}

.image-plus-container:hover {
  opacity: 0.5;
}

.image-plus-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: url("./pics/plus.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.image-plus-container img {
  margin: 0 !important;
}

.image-plus-overlay:hover {
  opacity: 1;
}

.certificate-list {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.main-text {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 167%;
  color: #6b6868;
}

.second-img {
  width: auto;
  height: 389px;
  margin-top: 4rem;
}

.gradient-hack-2 {
  position: relative;
  height: 200px;
  background: #8ed8cf;
  filter: blur(200px);
  border-radius: 291px 291px 0px 0px;
  z-index: -10000;
  width: 100%;
  left: 0;
  top: -300px;
}

.review-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #6b6868;
}


.reviews {
  display: inline-block;
}

.header-reviews {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 30px;
  color: #000000;
}

.footer-info {
  background-color: #def7f4;
}

.footer-details {
  padding-top: 4rem;
  padding-left: 4rem;
}

.footer-left {
  padding-left: 3rem;
  padding-right: 2rem;
}

.footer-middle {
  padding-left: 2rem;
}

.footer-right {
  padding-left: 3rem !important;
}

.cabinet-photos {
  display: inline-block;
}

.address-details {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #555353;
  margin-bottom: 1.2rem;
}

.footer-contact {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #555353;
}

.cabinet {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.cabinet-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.cabinet-address {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #555353;
}

.first-icon-row {
  padding-right: 3rem;
  padding-left: 1rem;
}

.social-name {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #51cdd5;
  margin-top: 1rem;
}

.social-link {
  text-decoration: none;
  color: #51cdd5;
}

.social-link:hover {
  color: #494848;
}

.social-padding {
  padding-left: 2rem;
}

.social-padding-email {
  padding-left: 3.3rem;
}

.address-link {
  color: #000000;
}

.address-link:hover {
  color: #6b6868;
}



.btn-light {
color: white !important;
  width: 7rem ;
  background-color: #51cdd5 !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  
  
}

.product-price {
  color: #51cdd4;
  font-family: Montserrat;
}

.card-title {
  font-family: Montserrat;
  font-size: 18px;
}

.card {
  border-style: none !important;
}


.gift-card-link {
  color: #51cdd4;
}

.gift-card-link:hover {
  color: grey;
}



.btn-light:hover {
  background-color: #494848 !important;
}

.footer-shop-link {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #555353;
}

.footer-shop-link:hover {
  color: #000000;
}